<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="329cc3c2-cd17-4391-a12c-68d4513af38b" Publisher="CN=Valentin" Version="1.0.0.0" />
  <Properties>
    <DisplayName>POC-LinkIO.Windows</DisplayName>
    <PublisherDisplayName>Leo&amp;Valentin</PublisherDisplayName>
    <Logo>img\storeIcon.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="POC_LinkIO.Windows.App">
      <m2:VisualElements DisplayName="POC-LinkIO.Windows" Square150x150Logo="img\icon.png" Square30x30Logo="img\smallIcon.png" Description="POC-LinkIO.Windows" ForegroundText="light" BackgroundColor="#EDEDED">
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClientServer" />
    <Capability Name="removableStorage" />
    <Capability Name="sharedUserCertificates" />
    <Capability Name="videosLibrary" />
    <Capability Name="picturesLibrary" />
    <Capability Name="musicLibrary" />
    <Capability Name="enterpriseAuthentication" />
    <DeviceCapability Name="webcam" />
    <DeviceCapability Name="microphone" />
    <DeviceCapability Name="proximity" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>